In [1]:
import pandas as pd

In [31]:
df = pd.read_excel ('/Users/mathiasguillemot/Documents/GitHub/scr4p/jeu_de_donnees_modifie.xlsx', 'Sheet1')

In [ ]:
print (df["numero"])

0         Le-Haillan_01
1         Le-Haillan_01
2         Le-Haillan_01
3         Le-Haillan_01
4         Le-Haillan_01
              ...
573170        Nantes_07
573171        Nantes_07
573172        Nantes_07
573173        Nantes_07
573174        Nantes_07
Name: numero, Length: 573175, dtype: object

In [11]:
excluded = []
for i in df["numero"]:
    if i not in excluded:
        excluded.append(i)

In [12]:
print(excluded)

['Le-Haillan_01', 'Rennes_01', 'Strasbourg_07', 'Artigues-près-Bordeaux_01', 'Orléans_03', 'Paris_8e_02', 'Strasbourg_04', 'Orléans_01', 'Orleans_07', 'Mulhouse_03', 'Lille_02', 'Bordeaux_02', 'Martignas-sur-Jalle_01', 'Rennes_07', 'Parempuyre_01', 'Saint-Aubin-de-Médoc_01', 'Nantes_01', 'Cenon_01', 'Rennes_05', 'Bruges_01', 'Marseille_01', 'Mulhouse_01', 'Marseille_02', 'Strasbourg_03', 'Floirac_01', 'Nantes_02', 'Orleans_06', 'Orleans_05', 'Ambares-et-Lagrave_01', 'Orléans_02', 'Bordeaux_01', 'Mérignac_02', 'Rennes_04', 'Saint-Médard-En-Jalles_01', 'Saint-Louis-de-Montferrand_01', 'Ambès_01', 'Saint-Vincent-de-Paul_01', 'Strasbourg_02', 'Lille_01', 'Lille_04', 'Carbon-Blanc_01', 'Strasbourg_06', 'Bouliac_01', 'Rennes_02', 'Lille_05', 'Bordeaux_03', 'Rennes_10', 'Rennes_08', 'Nantes_03', 'Mérignac_01', 'Bassens_01', 'Gradignan_01', 'Pessac_01', 'Bordeaux_04', 'Eysines_01', 'Lormont_01', 'Talence_01', 'Lille_03', 'Bordeaux_05', 'Le Bouscat_01', 'Strasbourg_08', 'Rennes_06', 'Marseille_03', 'Bègles_01', 'Orleans_04', 'Strasbourg_05', 'Paris_8e_01', 'Villenave-d’Ornon_01', 'Blanquefort_01', 'Rennes_03', 'Le Taillan-Médoc_01', 'Paris_8e_03', 'Mulhouse_02', 'Strasbourg_01', 'Rennes_09', 'Nantes_31', 'Nantes_42', 'Nantes_51', 'Nantes_14', 'Nantes_11', 'Nantes_41', 'Nantes_12', 'Nantes_45', 'Nantes_44', 'Nantes_27', 'Nantes_22', 'Nantes_17', 'Nantes_35', 'Nantes_36', 'Nantes_21', 'Nantes_05', 'Nantes_39', 'Nantes_15', 'Nantes_40', 'Nantes_24', 'Nantes_43', 'Nantes_18', 'Nantes_20', 'Nantes_06', 'Nantes_46', 'Nantes_50', 'Nantes_13', 'Nantes_30', 'Nantes_23', 'Nantes_25', 'Nantes_38', 'Nantes_07', 'Nantes_33', 'Nantes_49', 'Nantes_09', 'Nantes_16', 'Nantes_26', 'Nantes_32', 'Nantes_47', 'Nantes_29', 'Nantes_48', 'Nantes_04', 'Nantes_28', 'Nantes_34', 'Nantes_19', 'Nantes_37', 'Nantes_08']

In [10]:
first_id = df["id"].iat[-1]+1

In [32]:
#print(df)
df2 = pd.DataFrame({"id": [first_id],"E_volt_par_metre": [2.5], "E^2": [6.6564], "date": ["14/04/2021 00:00:00"], "ville": ["Palaiseau"], "code_postal": [91120],"numero": ["Palaiseau_1"], "Année": [2021], "Mois": [4], "Jour" : [14]})
df3 = pd.concat([df,df2])

In [55]:
excluded = []
df_infos = pd.DataFrame({'E_volt_par_metre': [], 'date': [], 'ville': [], 'code_postal': [], 'numero': []})
for index,row in df.iterrows():
    if row["numero"] not in excluded:
        excluded.append(row["numero"])
        df_prov = pd.DataFrame({'E_volt_par_metre': [row["E_volt_par_metre"]], 'date': [row["date"]], 'ville': [row["ville"]], 'code_postal': [row["code_postal"]], 'numero': [row["numero"]]})
        df_infos=pd.concat([df_infos,df_prov])

In [56]:
print(excluded)
print(df_infos)

['Le-Haillan_01', 'Rennes_01', 'Strasbourg_07', 'Artigues-près-Bordeaux_01', 'Orléans_03', 'Paris_8e_02', 'Strasbourg_04', 'Orléans_01', 'Orleans_07', 'Mulhouse_03', 'Lille_02', 'Bordeaux_02', 'Martignas-sur-Jalle_01', 'Rennes_07', 'Parempuyre_01', 'Saint-Aubin-de-Médoc_01', 'Nantes_01', 'Cenon_01', 'Rennes_05', 'Bruges_01', 'Marseille_01', 'Mulhouse_01', 'Marseille_02', 'Strasbourg_03', 'Floirac_01', 'Nantes_02', 'Orleans_06', 'Orleans_05', 'Ambares-et-Lagrave_01', 'Orléans_02', 'Bordeaux_01', 'Mérignac_02', 'Rennes_04', 'Saint-Médard-En-Jalles_01', 'Saint-Louis-de-Montferrand_01', 'Ambès_01', 'Saint-Vincent-de-Paul_01', 'Strasbourg_02', 'Lille_01', 'Lille_04', 'Carbon-Blanc_01', 'Strasbourg_06', 'Bouliac_01', 'Rennes_02', 'Lille_05', 'Bordeaux_03', 'Rennes_10', 'Rennes_08', 'Nantes_03', 'Mérignac_01', 'Bassens_01', 'Gradignan_01', 'Pessac_01', 'Bordeaux_04', 'Eysines_01', 'Lormont_01', 'Talence_01', 'Lille_03', 'Bordeaux_05', 'Le Bouscat_01', 'Strasbourg_08', 'Rennes_06', 'Marseille_03', 'Bègles_01', 'Orleans_04', 'Strasbourg_05', 'Paris_8e_01', 'Villenave-d’Ornon_01', 'Blanquefort_01', 'Rennes_03', 'Le Taillan-Médoc_01', 'Paris_8e_03', 'Mulhouse_02', 'Strasbourg_01', 'Rennes_09', 'Nantes_31', 'Nantes_42', 'Nantes_51', 'Nantes_14', 'Nantes_11', 'Nantes_41', 'Nantes_12', 'Nantes_45', 'Nantes_44', 'Nantes_27', 'Nantes_22', 'Nantes_17', 'Nantes_35', 'Nantes_36', 'Nantes_21', 'Nantes_05', 'Nantes_39', 'Nantes_15', 'Nantes_40', 'Nantes_24', 'Nantes_43', 'Nantes_18', 'Nantes_20', 'Nantes_06', 'Nantes_46', 'Nantes_50', 'Nantes_13', 'Nantes_30', 'Nantes_23', 'Nantes_25', 'Nantes_38', 'Nantes_07', 'Nantes_33', 'Nantes_49', 'Nantes_09', 'Nantes_16', 'Nantes_26', 'Nantes_32', 'Nantes_47', 'Nantes_29', 'Nantes_48', 'Nantes_04', 'Nantes_28', 'Nantes_34', 'Nantes_19', 'Nantes_37', 'Nantes_08']
    E_volt_par_metre       date                   ville  code_postal  \
0               2.99 2021-04-14              Le Haillan      33185.0
0               0.27 2021-04-23                  Rennes      35000.0
0               0.11 2022-04-26                Entzheim      67960.0
0               1.13 2021-03-23  Artigues-près-Bordeaux      33370.0
0               0.32 2021-09-06                 Orléans      45000.0
..               ...        ...                     ...          ...
0               1.90 2021-11-05                  Nantes      44000.0
0               0.48 2021-12-31                  Nantes      44000.0
0               0.67 2021-12-31                  Nantes      44000.0
0               1.56 2021-12-31                  Nantes      44000.0
0               0.14 2021-12-31                  Nantes      44000.0

                       numero
0               Le-Haillan_01
0                   Rennes_01
0               Strasbourg_07
0   Artigues-près-Bordeaux_01
0                  Orléans_03
..                        ...
0                   Nantes_28
0                   Nantes_34
0                   Nantes_19
0                   Nantes_37
0                   Nantes_08

[122 rows x 5 columns]

In [34]:
df3.to_excel('/Users/mathiasguillemot/Documents/GitHub/scr4p/jeu_de_donnees_modifie.xlsx', sheet_name='Sheet1', index=False)

In [59]:
#print(df["date"])
df3.pop("Mois")
df3.pop("Jour")
print(df3)

        E_volt_par_metre                 date         numero
0                   2.99  2021-04-14 00:00:00  Le-Haillan_01
1                   2.58  2021-04-14 00:00:00  Le-Haillan_01
2                   3.22  2021-04-14 00:00:00  Le-Haillan_01
3                   3.91  2021-04-14 00:00:00  Le-Haillan_01
4                   4.41  2021-04-14 00:00:00  Le-Haillan_01
...                  ...                  ...            ...
573171              0.63  2022-08-31 00:00:00      Nantes_07
573172              0.53  2022-09-02 00:00:00      Nantes_07
573173              0.62  2022-09-04 00:00:00      Nantes_07
573174              0.50  2022-09-11 00:00:00      Nantes_07
0                   2.50  14/04/2021 00:00:00    Palaiseau_1

[573176 rows x 3 columns]

In [40]:
for index,row in df.iterrows():
    pass
print(row)

id                               573175
E_volt_par_metre                    0.5
E^2                                0.25
date                2022-09-11 00:00:00
ville                            Nantes
code_postal                       44000
numero                        Nantes_07
Année                              2022
Mois                                  9
Jour                                 11
Name: 573174, dtype: object